body{
	
font-family: "Helvetica", "Arial", fantasy;
	
color: black;
	background-color: white;
	
text-shadow: 1px 1px black;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
color:black;
	
text-align: center;
	
text-shadow: 1px 1px black;

}


td, th {
    
border: 1px solid red;

color:red;
	background-color:white;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: white;

}